{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h1>These are posts by user {{user.username}} ,with totoal of {{posts.total}}</h1>
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%B-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('post_detail',post_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
      {% if page %}
        {% if page==posts.page %}
          <a class="btn btn-info" href="{{url_for('user_post',username=user.username,page=page)}}">{{page}}</a>
        {% else%}
          <a class="btn btn-outline-info" href="{{url_for('user_post',username=user.username,page=page)}}">{{page}}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

{% endblock content %}
